.answerButton {
    padding: 0.4rem 0.9rem;
    font-size: 14px;
    border-radius: 100%;
    border: solid rgb(60, 60, 60) 1px;
    margin: .3rem;
    display: inline;
    color: rgb(35, 35, 35);
}

.answers{
    display: inline
}

.answerButton:hover {
    background-color: darkgray
}

.answerButton:active {
    background-color: rgb(35, 35, 35);
    color: rgb(245, 245, 245)
}

.selected{
    background-color: rgb(35, 35, 35);
    color: rgb(245, 245, 245)
}

.wrong, .wrong:hover, .thin:hover {
    background-color: rgb(250, 0, 0);
    color: rgb(240, 240, 240);
    border: solid 1px rgb(180, 0, 0);
}

.thin{
    padding: 0.4rem 0.4rem;
    margin: 0.3rem;
}

@media only screen and (min-height: 1180px){
    .answerButton {
        padding: 1.2rem 1.7rem;
    }

    .thin{
        padding: 1.2rem 1.2rem;
        margin: 0 8rem 0 0;
    }
}

@media only screen and (min-height: 1500px){
    .answerButton {
        padding: 1.7rem 2.2rem;
        font-size: 2rem;
    }

    .thin{
        padding: 1.7rem 1.7rem;
        margin: 0 8rem 0 0;
        font-size: 2rem;
    }
}