.answerButton {
    padding: 0.1rem 0.5rem;
    font-size: 14px;
    margin: 1rem;
    border-radius: 100%;
    border: solid rgb(60, 60, 60) 1px;
    margin: .5rem;
    display: inline;
    color: rgb(35, 35, 35);
}

.answers{
    display: inline
}

.answerButton:hover {
    background-color: darkgray
}

.answerButton:active {
    background-color: rgb(35, 35, 35);
    color: rgb(245, 245, 245)
}

.selected{
    background-color: rgb(35, 35, 35);
    color: rgb(245, 245, 245)
}