.flexContainer{
    height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flexContainer > img {
    max-height: 100%;
    max-width: 100%;
}

.onTime{
    font-size: 1.4rem;
    font-weight: bold;
    margin: 5px 0 0 0;
}

.green {
    color: #04B14D;
}

.red {
    color: #D0161E;
}

@media only screen and (max-height: 770px){
    .flexContainer{
        height: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (min-height: 1550px){
    .flexContainer > img {
        width: 50%;
        height: auto;
        max-width: none;
        max-height: none;
    }

    .onTime{
        font-size: 3rem;
        font-weight: bold;
        margin: 5px 0 0 0;
    }
}
