
.controlPanel{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    margin: 1rem;
    font-family: 'Open Sans';
    border: 1px rgb(223, 223, 223) solid;
    font-size: 1.3rem;
    font-weight: bold;
    height: 10rem;
    width: 8vw;
    border-radius: 1rem;
    background-image: linear-gradient(#FDFDFD,rgb(223,223,223));
    color:rgb(36, 36, 36);
    align-items: center;;
}

.panelRow{
    display: flex;
    flex-direction: row;
    height: 33%;
    width: 100%;
    flex-grow: 1;
}

.horizontalArrow{
    height: 100%;
    width: 50%;
    flex-grow: 1;
    font-weight: bold;
}

.greenButton{
    height: 100%;
    width: 50%;
    background-color: #04B14D;
    border: solid rgb(27, 27, 27) 1px;
    flex-grow: 1;
}

.redButton{
    height: 100%;
    width: 50%;
    background-color: #D0161E;
    border: solid rgb(27, 27, 27) 1px;
    flex-grow: 1;
}

.yellowButton{
    height: 100%;
    width: 50%;
    background-color: rgb(208, 134, 22);
    border: solid rgb(27, 27, 27) 1px;
    flex-grow: 1;
}

.greenButton:hover{
    background-color: rgb(63, 221, 129);
}

.redButton:hover{
    background-color: rgb(236, 59, 68);
}

.yellowButton:hover{
    background-color: rgb(236, 164, 55);
}
