.scoreBar{
    width: 90%;
    display: flex;
    border-radius: 10px;
    height: 20px;
}

.left {
    width: 25%;
    background-color: red;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 20px;
}

.middle {
    width: 50%;
    background-color: orange;
    height: 20px;
}

.right {
    width: 25%;
    background-color: green;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    height: 20px;
}

.componentContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.arrowsContainer{
    display: flex;
    width: 90vw;
    align-items: center;
    justify-content: center;
}

.arrowContainer{
    position: relative;
}

.englishScoreContainer{
    left: var(--english-score-offset)  /* default defined in html in index.css*/
}

.englishGoalContainer{
    left: var(--english-goal-offset)  /* default defined in html in index.css*/
}

.mathScoreContainer{
    left: var(--math-score-offset)  /* default defined in html in index.css*/
}

.mathGoalContainer{
    left: var(--math-goal-offset)  /* default defined in html in index.css*/
}

.readingScoreContainer{
    left: var(--reading-score-offset)  /* default defined in html in index.css*/
}

.readingGoalContainer{
    left: var(--reading-goal-offset)  /* default defined in html in index.css*/
}

.scienceScoreContainer{
    left: var(--science-score-offset)  /* default defined in html in index.css*/
}

.scienceGoalContainer{
    left: var(--science-goal-offset)  /* default defined in html in index.css*/
}

.compositeScoreContainer{
    left: var(--composite-score-offset)  /* default defined in html in index.css*/
}

.compositeGoalContainer{
    left: var(--composite-goal-offset)  /* default defined in html in index.css*/
}

.arrow{
    margin: 2rem 2px;
    height: 5rem;
    width: 2.7%;
    min-width: 3rem;

}

.transparent {
    opacity: 0;
}

.scoreNum{
    font-size: 6rem;
    margin: -2.5rem 0 0 0;
}

.englishGoalColor{
    color: var(--english-goal-color) /* defined in index.css */
}

.englishScoreColor{
    color: var(--english-score-color) /* defined in index.css */
}

.mathGoalColor{
    color: var(--math-goal-color) /* defined in index.css */
}

.mathScoreColor{
    color: var(--math-score-color) /* defined in index.css */
}

.readingGoalColor{
    color: var(--reading-goal-color) /* defined in index.css */
}

.readingScoreColor{
    color: var(--reading-score-color) /* defined in index.css */
}

.scienceGoalColor{
    color: var(--science-goal-color) /* defined in index.css */
}

.scienceScoreColor{
    color: var(--science-score-color) /* defined in index.css */
}

.compositeGoalColor{
    color: var(--composite-goal-color) /* defined in index.css */
}

.compositeScoreColor{
    color: var(--composite-score-color) /* defined in index.css */
}

.goalNum{
    font-size: 4rem;
    margin: -2.5rem 0 0 0;
}

.scoreLabel {
    position: absolute;
    top: 3rem;
}

.leftFloat {
    left: -7rem;
    font-size: 2.75rem;
}

.rightFloat {
    left: 4rem;
    font-size: 2rem;
    font-style: italic;
}

