.navButton {
    margin: 0 1rem;
    font-family: 'Open Sans';
    border: 1px rgb(223, 223, 223) solid;
    font-size: 1.3rem;
    font-weight: bold;
    min-height: 4rem;
    width: 8vw;
    border-radius: 1rem;
    background-image: linear-gradient(#FDFDFD,rgb(223,223,223));
    color:rgb(36, 36, 36);
}

.navButton:hover {
    cursor: pointer;
    background-image:none;
    background-color: #FDFDFD;
    color: rgb(36, 36, 36)
}

.navButton:disabled {
    background-image: none;
    background-color: rgb(223,223,223);
    color:gray;
}

.navButton:disabled:hover {
    cursor: auto;
    background-color: rgb(223,223,223);
    color:gray;
}

.selected, .selected:hover {
    background-image: linear-gradient(#102e79,#0d2561);
    color: #FDFDFD;
    border: solid white 2px;
}