.flexContainer{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 10;
}

.score{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 17rem;
    border: 0.5rem solid #102e79;
    height: 45%
}

.sectionScore{
    padding: 1rem 1.9rem;
    color: rgb(240, 240, 240);
    font-weight: bold;
    font-size: 8rem;
    border-radius: 100%;
}

.sectionHeader{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    top: 0;
    background-image: linear-gradient(#102e79,#0d2561);;
    text-align: center;
    width: 100%;
    height: 20%;
}

.sectionTitle{
    display: inline-block;
    color: white;
    font-size: 3rem;
}

.timing{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 17rem;
    border-top: 0.5rem solid #102e79;
    border-right: 0.5rem solid #102e79;
    border-bottom: 0.5rem solid #102e79;
    height: 45%;
}

.mostMissed{
    background-image: linear-gradient(#102e79,#0d2561);;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 14rem;
    height: 35%;
}

.mostMissed > div{
    padding: 2rem 2.5rem;
    background-color: rgb(240, 240, 240);
    color: #0d2561;
    font-weight: bold;
    font-size: 1.5rem;
    width: 19vw;
}

.mostMissed > h2{
    color: rgb(240, 240, 240);
    font-weight: bold;
    font-size: 1.7rem;
    margin: 0 0 1rem 0;
    width: 19vw;
}

.green{
    color: #04B14D;
}

.orange{
    color: rgb(208, 134, 22);
}

.red{
    color: #D0161E;
}

@media only screen and (max-width: 1520px){
    .mostMissed > div{
        padding: 1rem 1.5rem;
        font-size: 1.4rem;
    }
}