@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Adamina&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    --english-score-offset: 0rem;
    --english-goal-offset: 50rem;
    --math-score-offset: 0rem;
    --math-goal-offset: 50rem;
    --reading-score-offset: 0rem;
    --reading-goal-offset: 50rem;
    --science-score-offset: 0rem;
    --science-goal-offset: 50rem;
    --composite-score-offset: 0rem;
    --composite-goal-offset: 50rem;
    --english-goal-color: rgb(208, 134, 22);
    --english-score-color: rgb(208, 134, 22);
    --math-goal-color: rgb(208, 134, 22);
    --math-score-color: rgb(208, 134, 22);
    --reading-goal-color: rgb(208, 134, 22);
    --reading-score-color: rgb(208, 134, 22);
    --science-goal-color: rgb(208, 134, 22);
    --science-score-color: rgb(208, 134, 22);
    --composite-goal-color: rgb(208, 134, 22);
    --composite-score-color: rgb(208, 134, 22);

    /*
      red: #D0161E;
      orange: rgb(208, 134, 22);
      green: #04B14D;
    */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


